<footer>
    <section class="footer-content-top">
      <ul class="subheadings">
        <li><a href="#">Vår historia</a></li>
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </section>
    <section class="footer-content-bottom">
      <ul class="payment-icons">
        <li>
          <span
            class="dc_payment_icons_flat_32 dc_visa_flat"
            title="Visa Electron"
          ></span>
        </li>
        <li>
          <span
            class="dc_payment_icons_flat_32 dc_mastercard_flat"
            title="MasterCard"
          ></span>
        </li>
        <li>
          <span
            class="dc_payment_icons_flat_32 dc_american_express_flat"
            title="American Express"
          ></span>
        </li>
        <li>
          <span
            class="dc_payment_icons_flat_32 dc_paypal_flat"
            title="PayPal"
          ></span>
        </li>
      </ul>
      <ul class="social-icons">
        <li><i class="fa-brands fa-facebook"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-tiktok"></i></li>
        <li><i class="fa-brands fa-linkedin"></i></li>
      </ul>
      <p>© 2024, Candela. All Rights Reserved.</p>
    </section>
  </footer>