<section class="header">
    <div class="mobile-menu">
      <i id="bar" class="fa-solid fa-bars hamburger-original"></i>
    </div>
  
    <div class="menu">
      <ul id="navbar">
        <li><a href="index.html#senaste-p-id">Shop</a></li>
        <li><a href="index.html#om-oss">Om Oss</a></li>
        <li><a href="#footer-place">Kontakt</a></li>
        <a href="#" id="close"><i class="fa-solid fa-x"></i></a>
      </ul>
    </div>

    <div class="logo">
      <a href="index.html"><img src="./src/assets/img/candelas-logo (1).png" class="logo" alt=""></a>
    </div>

    <div class="cart">
      <a href="/shopping-cart.html">
        <i class="fa-solid fa-bag-shopping shopping-original"></i>
        <span class="cart-count">0</span>
      </a>
    </div>
  </section>